<head>
  <title>Gestion de Productores</title>
  <meta charset="utf-8">
</head>

<body>
  <div>
    <h2>Gestion de Productores</h2>
    <form>
      <div class="row md-form">
        <div class="form-group col">
          <label for="id">Identificacion:</label>
          <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group col">
          <label for="name">Nombre:</label>
          <input mdbinput type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group col">
          <label for="last-name1">Primer Apellido:</label>
          <input type="text" class="form-control" id="last-name1" name="last-name1">
        </div>
        <div class="form-group col">
          <label for="last-name2">Segundo Apellido:</label>
          <input type="text" class="form-control" id="last-name2" name="last-name2">
        </div>
      </div>

      <div class="row md-form">
        <div class="form-group col">
          <label for="sinpe">Sinpe Movil:</label>
          <input type="text" class="form-control" id="sinpe" name="sinpe">
        </div>
        <div class="form-group col">
          <label for="phone">Telefono:</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group col">
          <label for="birth">Fecha de nacimiento:</label>
          <input type="date" class="form-control" id="birth" name="birth">
        </div>
      </div>

      <div class="row md-form">

        <div class="col md-form">
          <label>Direccion</label>
          <div class="row md-form">
            <div class="form-group col">
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle"
                        type="button" id="provinceDDM"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                  Provincia
                </button>
                <div class="dropdown-menu" aria-labelledby="provinceDDM" >
                  <a *ngFor="let prov of provinces" class="dropdown-item" (click)="loadCanton(prov)">{{ prov }}</a>
                </div>
              </div>
            </div>
            <div class="form-group col">
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle"
                        type="button" id="cantonDDM"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                  Canton
                </button>
                <div class="dropdown-menu" aria-labelledby="cantonDDM">
                  <a *ngFor="let canton of cantons" class="dropdown-item" (click)="loadDistrict(canton)">{{ canton }}</a>
                  <!--Colocar cantones de provincia seleccionada-->
                </div>
              </div>
            </div>
            <div class="form-group col">
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle"
                        type="button" id="districtDDM"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                  Distrito
                </button>
                <div class="dropdown-menu" aria-labelledby="districtDDM">
                  <a *ngFor="let district of districts" class="dropdown-item">{{ district }}</a>
                  <!--Colocar distritos de canton seleccionado-->
                </div>
              </div>
            </div>
          </div>
          <div class="row md-form">
            <div class="form-group col">
              <label for="dir">Otras señas:</label>
              <input type="text" class="form-control" id="dir" name="dir">
            </div>
          </div>
        </div>

        <div class="col md-form">
          <label>Lugares de entrega</label>
          <!--Colocar campos para agregar las direcciones de entrega-->
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success"> Guardar </button>
    </form>
  </div>
</body>
