<head>
  <title>Gestion de Productores</title>
  <meta charset="utf-8">
</head>

<body>
  <div>
    <h2>Gestion de Productores</h2>
    <form>
      <div class="row md-form">
        <div class="form-group col">
          <label for="id">Identificacion:</label>
          <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group col">
          <label for="name">Nombre:</label>
          <input mdbinput type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group col">
          <label for="last-name1">Primer Apellido:</label>
          <input type="text" class="form-control" id="last-name1" name="last-name1">
        </div>
        <div class="form-group col">
          <label for="last-name2">Segundo Apellido:</label>
          <input type="text" class="form-control" id="last-name2" name="last-name2">
        </div>
      </div>

      <div class="row md-form">
        <div class="form-group col">
          <label for="sinpe">Sinpe Movil:</label>
          <input type="text" class="form-control" id="sinpe" name="sinpe">
        </div>
        <div class="form-group col">
          <label for="phone">Telefono:</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group col">
          <label for="birth">Fecha de nacimiento:</label>
          <input type="date" class="form-control" id="birth" name="birth">
        </div>
      </div>

      <div class="row md-form">

        <div class="col md-form">
          <label>Direccion</label>
          <div class="row md-form">
            <div class="form-group col">
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle"
                        type="button" id="provinceDDM"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                  Provincia
                </button>
                <div class="dropdown-menu" aria-labelledby="provinceDDM">
                  <a *ngFor="let prov of provinces" class="dropdown-item" (click)="loadCanton(prov)">{{ prov }}</a>
                </div>
              </div>
            </div>
            <div class="form-group col">
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle"
                        type="button" id="cantonDDM"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                  Canton
                </button>
                <div class="dropdown-menu" aria-labelledby="cantonDDM">
                  <a *ngFor="let canton of cantons" class="dropdown-item" (click)="loadDistrict(canton)">{{ canton }}</a>
                  <!--Colocar cantones de provincia seleccionada-->
                </div>
              </div>
            </div>
            <div class="form-group col">
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle"
                        type="button" id="districtDDM"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                  Distrito
                </button>
                <div class="dropdown-menu" aria-labelledby="districtDDM">
                  <a *ngFor="let district of districts" class="dropdown-item" (click)="setActualDistrict(district)">{{ district }}</a>
                  <!--Colocar distritos de canton seleccionado-->
                </div>
              </div>
            </div>
          </div>
          <div class="row md-form">
            <div class="form-group col">
              <label for="dir">Otras señas:</label>
              <input type="text" class="form-control" id="dir" name="dir">
            </div>
          </div>
        </div>

        <div class="col md-form">
          <div class="row md-form margin-div">
            <label for="deliver">Lugares de entrega:</label>
            <input type="text" class="form-control" id="deliver" name="deliver">
          </div>
          <div class="row md-form">
            <button type="submit" class="btn btn-outline-success btn-lg" data-toggle="modal"
                    data-target="#saveMsj" (click)="saveProducer()">
              Guardar
            </button>
            <!--Modal to open when error-->
            <div class="modal fade" id="saveMsj" tabindex="-1" role="dialog" aria-labelledby="saveMsjLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <h4 class="modal-title" id="saveMsjLabel"></h4> <!--El texto se coloca en script-->
                  </div>
                  <div class="modal-body">
                    <a class="custom-close" id="msjText"></a>  <!--El texto se coloca en script--> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>
        </div>
      </div>
    </form>

    <div class="margin-div">
      <h2>Productores registrados</h2>

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center align-middle" scope="col">Identificacion</th>
            <th class="text-center align-middle" scope="col">Nombre</th>
            <th class="text-center align-middle" scope="col">Primer Apellido</th>
            <th class="text-center align-middle" scope="col">Segundo Apellido</th>
            <th class="text-center align-middle" scope="col">Sinpe Movil</th>
            <th class="text-center align-middle" scope="col">Telefono</th>
            <th class="text-center align-middle" scope="col">Fecha de nacimiento</th>
            <th class="text-center align-middle" scope="col">Provincia</th>
            <th class="text-center align-middle" scope="col">Canton</th>
            <th class="text-center align-middle" scope="col">Distrito</th>
            <th class="text-center align-middle" scope="col">Direccion exacta</th>
            <th class="text-center align-middle" scope="col">Lugares de entrega</th>
          </tr>
        </thead>

        <tbody *ngFor="let producer of producers">

          <tr>
            <td class="text-center align-middle">{{ producer.id }}</td>
            <td class="text-center align-middle">{{ producer.name }}</td>
            <td class="text-center align-middle">{{ producer.lastName }}</td>
            <td class="text-center align-middle">{{ producer.lastName2 }}</td>
            <td class="text-center align-middle">{{ producer.sinpe }}</td>
            <td class="text-center align-middle">{{ producer.phone }}</td>
            <td class="text-center align-middle">{{ producer.birth }}</td>
            <td class="text-center align-middle">{{ producer.province }}</td>
            <td class="text-center align-middle">{{ producer.canton }}</td>
            <td class="text-center align-middle">{{ producer.district }}</td>
            <td class="text-center align-middle">{{ producer.dir }}</td>
            <td class="text-center align-middle">{{ producer.deliver }}</td>
          </tr>

        </tbody>
        <!--
    <tbody>

      <tr>
        <td class="text-center align-middle">4</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
        <td class="text-center align-middle">f</td>
      </tr>
    </tbody>

      -->
      </table>
      <div class="dropdown-menu" aria-labelledby="tableMenu" id="menu">
        <a class="dropdown-item" (click)="updateProducer('402390083')">Actualizar</a>  <!--Obtener el id del productor-->
        <a class="dropdown-item" (click)="deleteProducer('402390083')">Eliminar</a> <!--Obtener el id del productor-->
      </div>

    </div>
    
  </div>
</body>


