<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
  <hr>
  <div class="card bg-light">
   <article class="card-body mx-auto"> 
      <h4 class="card-title mt-3 text-center">Crear una cuenta</h4>
      <form>

        <div class="row">
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="far fa-address-card"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Número de cédula" type="text">
          </div> <!-- form-group// -->
        
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Nombre" type="text">
          </div> <!-- form-group// -->

          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Primer Apellido" type="text">
          </div> <!-- form-group// -->
  
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Segundo Apellido" type="text">
          </div> <!-- form-group// -->
        </div>

        <div class="row">

          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Correo Electronico" type="email">
          </div> <!-- form-group// -->
          
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Numero de Telefono" type="text">
          </div> <!-- form-group// -->
  
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-birthday-cake"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Fecha de nacimiento" type="date">
          </div> <!-- form-group// -->

        </div>

        <div class="row">

          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-map-marker-alt"></i> </span>
            </div>
            <select class="form-control">
              <option selected=""> Seleccione una provincia</option>
              <option>Designer</option>
              <option>Manager</option>
              <option>Accaunting</option>
            </select>
          </div> <!-- form-group end.// -->
  
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-map-marker-alt"></i> </span>
            </div>
            <select class="form-control">
              <option selected=""> Seleccione un cantón</option>
              <option>Designer</option>
              <option>Manager</option>
              <option>Accaunting</option>
            </select>
          </div> <!-- form-group end.// -->
  
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-map-marker-alt"></i> </span>
            </div>
            <select class="form-control">
              <option selected=""> Seleccione un distrito</option>
              <option>Designer</option>
              <option>Manager</option>
              <option>Accaunting</option>
            </select>
          </div> <!-- form-group end.// -->

        </div>

        
        <div class="row">

          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user-circle"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Nombre de usuario" type="text">
          </div> <!-- form-group// -->
  
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Crear contraseña" type="password">
          </div> <!-- form-group// -->
          
          <div class="form-group input-group col">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Repetir contraseña" type="password">
          </div> <!-- form-group// -->  

        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Crear cuenta</button>
        </div> <!-- form-group// -->

        <p class="text-center">¿Tienes una cuenta? <a href="">Inicia sesión</a> </p>

                                            
      </form>
   </article>
  </div> <!-- card.// -->
</div> 
<!--container end.//-->

