<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

<div class="primary-container">
  <hr>
  <div class="card bg-light article-custom">
    <article class="card-body-mx-auto">
      <h1 class="card-title mt-3 text-center custom-margin">Bienvenidos a la Feria Virtual del Agricultor</h1>
      <h3 class="card-title mt-3 text-center custom-margin">Por favor seleccione como desea ingresar:</h3>

      <div class="row row-custom">

        <div class="col">
          <button class="btn" [routerLink]="['/login-client']"><i class="fas fa-tractor"></i>Productor</button>
        </div>

        <div class="col">
          <button class="btn" [routerLink]="['/login-admin']"><i class="fas fa-user-cog"></i>Administrador</button>
        </div>

        <div class="col">
          <button class="btn" [routerLink]="['/login-client']"><i class="fas fa-user"></i>Cliente</button>
        </div>

      </div>
    </article>
  </div>
</div>