<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

<div class="primary-container">
  <hr>
  <div class="card bg-light article-custom">
    <article class="card-body-mx-auto">
      <h1 class="card-title mt-3 text-center custom-margin">Bienvenidos a la Feria Virtual del Agricultor</h1>
      <h3 class="card-title mt-3 text-center custom-margin">Por favor seleccione la acción que desea realizar:</h3>

      <div class="row row-custom">

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/profile-client']"><i class="fas fa-user"></i>Mi Perfil</button>
        </div>

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/available-producers']"><i class="fas fa-user-cog"></i>Ver Productores</button>
        </div>

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/shopping-cart']"><i class="fas fa-shopping-cart"></i>Carrito de compras</button>
        </div>

        <div class="col col-custom">
          <button class="btn" [routerLink]="['/']"><i class="fas fa-star"></i>Reseñas</button>
        </div>
      </div>

    </article>
  </div>
</div>